*{
	font-family : Lucida Console;
	font-variant: small-caps;
}

header{
	background-image: url("background.png");
}

body{
	background-image: url("background.png");
}


h2{
	margin: 10px;
	margin-top : 30px;
	padding-top : 15px;
	color: black;
	font-size : 35px
}

p{
	margin: 15px;
	font-size : 22px;
}

p.a{
	font-size: 20px;
}


hr.a{
	width : 60%;
}

table {
  border: 2px solid gray;
  width : 50%
}
th {
  height: 30px;
  text-align: center;
  vertical-align: middle;
  
}

th, td {
  padding: 8px;
  text-align: center;
  font-size : 22px;
}

h3{
  margin-left :10px;
  text-align : center;
  font-size : 25px;
}

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 150px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  padding-left :5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leftImg {
  position: absolute;
  top: 60%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.leftImg img{
	width: 250px;
}

.rightImg {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rightImg img{
	width: 250px;
}

.centeredButton{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

