


*{
	font-family : Lucida Console;
	font-variant: small-caps;
}

    header{
	background-image: url("background.png");
}

body{
	background-image: url("background.png");
}
.logo{ 
    position: absolute;
    top: 8px;
    width:80px;
    height: 65px;
}
.im{
	display: none;
	position: absolute;
	top: 10%;
	left: 0%;

}

h2{
	position: absolute;
	color:whitesmoke;
	top: 10%;
	width: 100%;
    text-align:center;
    font-size: 300%;
    text-shadow:10px 10px 15px black;
font-family: fantasy;
}
h3{
	position: absolute;
	color:black;
	top: 8%;
	width: 100%;
    text-align:center;
    font-size: 300%;
font-family: fantasy;
}

ul {
    list-style-type: none;
    left: 70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: pink;
  }

.contact{
  display: none;
  padding: 100px 20px;
  height: 100%;
}  
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */


input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

