
body{
	background-image: url("background.png");
}
h2{
	margin: 8px;
	margin-top : 10px;
	padding-top : 15px;
	color: black;
	font-size : 35px;
	font-family: fantasy;
text-align: center;

}

p{
}
p.a {
	font-size : 24px;
	padding-left : 40px;
}
p.b{
	font-size : 16px;
}

.artwork{
	padding: 5px;
	margin : 10px;
}

hr{
	margin-right : 135px;
}

.container {
  position: relative;
}

.text-block {
  position: absolute;
  bottom: -1px;
  right: 20px;
  top : 150px;
  left: 9px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size : 20px;
  padding-top : 8px;
  text-align: center;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
}


.img-hover-zoom {
  height: 205px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.logo{ 
    position: absolute;
    top: 9px;
    left: 0px;
    width:80px;
    height: 65px;
}
ul {
    list-style-type: none;
    left: 70px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: pink;
  }
 
  

